.projectsPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 48px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
}
.project > p {
    /* padding: 0 24px 0 24px; */
    text-align: justify;
}

@media (min-width: 744px) {
    .projectsPage {
        gap: 64px;
    }
    .project {
        padding-top: 32px;
        gap: 32px;
    }
    /* .project > p {
        padding-inline: 64px;
    } */
}
@media (min-width: 1024px) {
    .projectsPage {
        gap: 80px;
    }
}
@media (min-width: 1280px) {
    .project {
        gap: 48px;
        padding-top: 48px;
    }
    /* .project > p {
        padding-inline: 64px;
    } */
}
.projectHeaderContainerLeft {
    width: 100%;
    padding-right: 24px;
    box-sizing: border-box;
    display: flex;
}
.projectHeaderContainerRight {
    width: 100%;
    padding-left: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
}
.projectHeaderLeft,
.projectHeaderRight {
    width: 100%;
    padding: 16px 24px 16px 24px;
    box-sizing: border-box;
    background-color: #a5a5a5;
    position: relative;
    max-width: 360px;
}
/* .projectHeaderLeft {
    margin-right: 32px;
} */
.projectHeaderRight {
    /* margin-left: 32px; */
    text-align: right;
}
.projectHeaderTailLeft,
.projectHeaderTailRight {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
}
.projectHeaderTailLeft {
    left: 0;
}
.projectHeaderTailRight {
    right: 0;
}

.hiddenUpTo800 {
    display: none;
}
@media(min-width: 800px) {
    .hiddenUpTo800 {
        display: block;
    }
    .projectHeaderContainerLeft,
    .projectHeaderContainerRight {
        justify-content: center;
    }
    .projectHeaderLeft,
    .projectHeaderRight {
        text-align: center;
    }
}

.label {
    color: #585858
}

/* @media (min-width: 500px) {
    .projectHeaderLeft,
    .projectHeaderRight {
        background-size: 50%;
    }
} */


@media (min-width: 744px) {
    .projectHeaderLeft,
    .projectHeaderRight {
        padding-inline: 64px;
    }
}

@media (min-width: 900px) {
    .projectHeaderLeft,
    .projectHeaderRight {
        background-size: 40%;
    }
}


@media (min-width: 1024px) {
    .projectHeaderLeft,
    .projectHeaderRight {
        max-width: 500px;
    }
}