.portfolioPage {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 48px;
    gap: 48px;
}
@media (min-width: 744px) {
    .portfolioPage {
        gap: 64px;
        padding-bottom: 64px;
    }
}
@media (min-width: 1280px) {
    .portfolioPage {
        gap: 80px;
        padding-bottom: 80px;
    }
}

.portfolioEntry {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    /* box-sizing: border-box; */
}
/* .website, */
.portfolioEntry > p {
    text-align: justify;
}

.headerContainer {
    display: flex;
    width: 100%;
}
.headerAlignRight {
    justify-content: end;
}

.portfolioHeader {
    position: relative;
    background-size: 70%;
    background-repeat: no-repeat;
    color: #d9d9d9;
    padding-top: 16px;
    padding-bottom: 16px ;
    background-color: #585858;
}
.headerTailLeft {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.headerTailRight {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
}
.mobileHidden {
    display: none;
}
.tabletHidden {
    display: none;
}
/* @media (min-width: 500px) {
    .portfolioHeaderLeft,
    .portfolioHeaderRight {
        background-size: 50%;
    }
} */
@media (min-width: 744px) {
    .mobileHidden{
        display: block;
    }
    .portfolioHeaderLeft,
    .portfolioHeaderRight {
        padding: 16px 64px 16px 64px;
    }
    .portfolioEntry {
        gap: 36px;
    }
    /* .website,
    .portfolioEntry > p {
        padding-inline: 64px;
    } */
}
@media (min-width: 1024px) {
    .tabletHidden {
        display: block;
    }
    .headerAlignRight,
    .headerContainer {
        justify-content: center;
    }
}
@media (min-width: 1280px) {
    
    .portfolioHeaderLeft,
    .portfolioHeaderRight {
        padding: 16px 80px 16px 80px;
        display: flex;
        justify-content: center;
        background-position-x: center;
        background-image: url('/public/img/frame-desktop-portfolio.svg');
    }
    .portfolioEntry {
        gap: 48px;
    }
    /* .website, */
    /* .portfolioEntry > p {
        padding-inline: 80px;
    } */
}
.name {
    text-wrap: nowrap;
    max-width: 75vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nameLeft {
    padding-right: 20px;
}
.nameRight {
    padding-left: 20px;
}
@media (min-width: 1024px) {
    .nameLeft,
    .nameRight {
        padding: 0px 20px;
    }
}

.outlinedText {
    /* color: white; */
    text-shadow:
      -2px -2px 0 #585858,
      2px -2px 0 #585858,
      -2px 2px 0 #585858,
      2px 2px 0 #585858;
}
.website {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}
.website > a {
    text-decoration: none;
    color: inherit;
}
.website > a:hover {
    text-decoration: underline;
}
.website > a:active {
    color: #a5a5a5;
}
.globeIcon {
    width: 32px;
    height: 32px;
}
.label {
    color: #585858;
}
.link {
    color: #a5a5a5;
}
.link:hover {
    text-decoration: underline;
}

@media (min-width: 744px) {
    .globeIcon {
        height: 36px;
        width: 36px;
    }
}
@media (min-width: 1280px) {
    .globeIcon {
        height: 40px;
        width: 40px;
    }
}