.businessPage {
    padding: 0;
    /* padding-top: 80px; */
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
}

.business {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 560px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0px 24px;
    box-sizing: border-box;
}
/* .business > div {
    padding: 0 24px 0 24px;
} */
/* .website,
.business > p {
    margin: 0;
    padding: 0 24px 0 24px;
} */
.bannerRight,
.bannerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.headerRight,
.headerLeft {
    width: 100%;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center ; */
    color: #d9d9d9;
    background-color: #000000;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 24px;
    position: relative;
    box-sizing: border-box;
}
.headerLeft {
    margin-right: 32px;
}
.tailLeft {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}
/* .headerRight {
    background-image: url('/public/img/Frame-right.svg');
    background-position-x: right
}
.headerLeft {
    background-image: url('/public/img/Frame-left.svg');
    background-position-x: left;
} */
.website {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}
.website > p:hover {
    text-decoration: underline;
}
.website > p:active {
    color: #a5a5a5;
}
.globeIcon {
    width: 24px;
    height: 24px;
}

.apeLogo {
    width: 150px;
    flex-shrink: 0;
}
.vennLogo {
    width: 120px;
    flex-shrink: 0;
}
.label {
    color: #585858;
}

.line {
    height: 1px;
    width: 50vw;
    max-width: 500px;
    background-color: #000000;
    margin: 16px;
}

.hiddenLg {
    display: none;
}
@media(min-width: 1280px) {
    .hiddenLg {
        display: block;
    }
}

@media (max-width: 360px) {
    .headerLeft,
    .headerRight {
        padding: 16px 24px;
        /* justify-content: start; */
    }
}

@media (min-width: 744px) {
    .businessPage{
        /* padding-top: 100px; */
        padding-bottom: 80px;
        gap: 120px;
    }
    .business {
        gap: 32px;
    }
    .bannerLeft,
    .bannerRight {
        gap: 32px;
        align-items: end;
    }
    .content {
        gap: 32px;
        padding: 0 48px 0 48px;
    }
    .vennLogo {
        width: 25%;
    }
    .bannerRight,
    .bannerLeft {
        flex-direction: row-reverse;
        width: 100%;
        flex-grow: 1;
        gap: 24px;
    }
    .bannerRight {
        flex-direction: row;
    }
    .headerLeft,
    .headerRight {
        flex-grow: 1;
        width: auto;
        padding: 24px 48px;
    }
    .headerLeft {
        justify-content: start;
        margin-right: 0px;
    }
}
 @media (min-width: 1024px) {
    .business {
        max-width: 800px;
    }
    .bannerLeft,
    .bannerRight {
        gap: 48px;
    }
    .headerLeft,
    .headerRight{
        padding: 24px 64px;
    }
    .content {
        padding: 0px 64px;
    }
 }

@media (min-width: 1280px) {
    /* .vennLogo {
        width: 20%;
    } */
    .content {
        gap: 48px;
        padding: 0px 80px;
    }
    /* .website,
    .business > p {
        padding: 0 80px 0 80px;
    } */
    .headerLeft,
    .headerRight {
        padding: 24px 80px;
    }
    .businessPage{
        /* padding-top: 160px; */
        padding-bottom: 120px;
        gap: 160px;
    }
}