.page {
    padding: 0;
    padding-top: 80px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

.business {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* .business > div {
    padding: 0 24px 0 24px;
} */
.business > p {
    margin: 0;
    padding: 0 24px 0 24px;
}
.businessHeaderRight,
.businessHeaderLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.frameRight,
.frameLeft {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 24px;
}
.frameRight {
    background-image: url('/public/img/Frame-right.svg');
    background-position-x: right;
}
.frameLeft {
    background-image: url('/public/img/Frame-left.svg');
    background-position-x: left;
}
.website {
    display: flex;
    gap: 4px;
    align-items: center;
}
.website > p:hover {
    text-decoration: underline;
}
.website > p:active {
    color: #a5a5a5;
}
.globeIcon {
    width: 24px;
    height: 24px;
}

.apeLogo {
    width: 150px;
    flex-shrink: 0;
}
.vennLogo {
    width: 120px;
    flex-shrink: 0;
}

@media (min-width: 580px) {
    .frameLeft,
    .frameRight {
        background-size: 90%;
    }
}

@media (min-width: 744px) {
    .page{
        padding-top: 100px;
        padding-bottom: 80px;
        gap: 120px;
    }
    .business {
        gap: 32px;
    }
    .businessHeaderLeft,
    .businessHeaderRight {
        gap: 32px;
    }
    .business > p {
        padding: 0 64px 0 64px;
    }
    .apeLogo {
        width: 250px;
        /* padding-left: 64px; */
        
    }
    .vennLogo {
        width: 200px;
        /* padding-right: 64px */
    }
}

@media (min-width: 1024px) {
    .businessHeaderRight,
    .businessHeaderLeft {
        flex-direction: row-reverse;
        width: 100%;
        flex-grow: 1;
        gap: 0;
    }
    .businessHeaderRight {
        flex-direction: row;
    }
    .apeLogo {
        padding-left: 64px;
        /* width: 150px; */
    }
    .vennLogo {
        padding-right: 64px;
    }
    .frameLeft,
    .frameRight {
        flex-grow: 1;
        width: auto;
    }
}

@media (min-width: 1280px) {
    .apeLogo {
        padding-left: 80px;
        width: 320px;
    }
    .vennLogo {
        padding-right: 80px;
        width: 256px;
    }
    .business {
        gap: 48px
    }
    .business > p {
        padding: 0 80px 0 80px;
    }
    .page{
        /* padding-top: 160px; */
        padding-bottom: 120px;
        gap: 160px;
    }
}