.container {
    width: inherit;
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    gap: inherit;
    padding: inherit;
    margin: inherit;
}

.rollIn {
  animation: rollIn 0.25s ease-in forwards;
}

.rollOut {
  animation: rollOut 0.25s ease-out forwards;
}

@keyframes rollIn {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rollOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}