.passion-one {
  font-family: "Passion One", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

.leftAlign {
  padding-left: 24px; 
}
.rightAlign {
  padding-right: 24px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}
.h3small {
  font-weight: 700;
  font-size: 28px;
  margin: 0;
}
a,
p {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.footnote {
  font-weight: 400;
  font-size: 16px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > div {
  max-width: 1440px;
  padding: 0px 24px 0px 24px;
  box-sizing: border-box;
}

body > div {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 744px) {
  .leftAlign {
    padding-left: 48px;
  }
  .rightAlign {
    padding-right: 48px;
  }
  h1{
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  .h3small, 
  h3 {
    font-size: 36px;
  }
  a,
  p {
    font-size: 24px
  }
  
  .footnote {
    font-size: 20px;
  }

  main > div {
    padding: 0 64px 0 64px;
  }

}

@media (min-width: 1280px) {
  .leftAlign {
    padding-left: 80px;
  }
  .rightAlign {
    padding-right: 80px;
  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 40px;
  }
  a,
  p {
    font-size: 28px;
  }

  .footnote {
    font-size: 24px;
  }

  main > div {
    padding: 0 80px 0 80px;
  }
}