.passion-one {
  font-family: "Passion One", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 48px;
}

h2 {
  font-weight: 700;
  font-size: 40px
}

h3 {
  font-weight: 700;
  font-size: 36px;
}

p {
  font-weight: 400;
  font-size: 24px;
}

f {
  font-weight: 400;
  font-size: 16px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > div {
  max-width: 1440px;
  padding: 0px 24px 0px 24px;
  box-sizing: border-box;
}

body > div {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 744px) {
  h1{
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 40px;
  }

  p {
    font-size: 32px
  }

  f {
    font-size: 20px;
  }

  main > div {
    padding: 0 64px 0 64px;
  }

}

@media (min-width: 1280px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 48px;
  }
  p {
    font-size: 36px;
  }

  f {
    font-size: 24px;
  }

  main > div {
    padding: 0 80px 0 80px;
  }
}